//META{"name":"min","description":"minimalistic theme based on Zerebos' TransientMaterial","author":"Dashwav","version":"1.0.0"}*//{}

@import url(https://raw.githubusercontent.com/dashwav/min/master/import/min.css);

/* Change the URLs here to your image and make sure the link starts with https not http */
.app, #pubslayerroot .layer .ui-standard-sidebar-view {
	background-image: url("https://i.imgur.com/e5MMZao.jpg");
	background-size: cover !important;
	background-position: center !important;
}

/* Custom Variables */
:root {
    --tm-accent: 67, 181, 129; /* R, G, B of accent-color */
    --tm-titlebar-opacity: 0.8; /* Titlebar Opacity */
    --tm-guilds-opacity: 0.7; /* Guilds  Opacity */
    --tm-messages-opacity: 0; /* Message Bubble Opacity */
    --tm-chat-opacity: 0.5; /* Chat BG Opacity */
    --tm-chatbox-opacity: 0.7; /* Chatbox Opacity */
    --tm-memberlist-opacity: 0.7; /* Memberlist Opacity */
    --tm-channels-opacity: 0.7; /* Channel List Opacity */
    --tm-modal-opacity: 0.7; /* Modal Opacity */
    --tm-popout-opacity: 0.99; /* Popout Opacity */
    --tm-selected-item: rgba(0,0,0, 0.7); /* Selected Channel/Server Color */
    --tm-hover: rgba(255,255,255,0.05); /* Hover Channel/Server Color */
    --tm-active: rgba(255,255,255,0.1); /* Clicking Channel/Server Color */
}

